/*===========================================================================================================================
                                                         GENERAL
============================================================================================================================*/
header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
}

a {
  color: black;
}

/*===========================================================================================================================
                                                         NAVBAR
============================================================================================================================*/
.container-fluid > .navbar-collapse {
  border-bottom: 1px solid grey;
}
.navbar-default .navbar-nav > li > a {
  color: #222;
}
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
  color: #222;
}
li > a:hover {
  color: #222;
  background-color: transparent;
}
.navbar-default .navbar-brand {
  color: #222;
}

/*===========================================================================================================================
                                                         LANDING PAGE
============================================================================================================================*/
#mdi1 {
  background-color: #F05F40;
  padding-top: 80px;
  padding-bottom: 80px;
}
#mdi2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
#mdi3 {
  background-color: #F05F40;
  padding-top: 80px;
  padding-bottom: 80px;
}

/*===========================================================================================================================
                                                         HEADER 
============================================================================================================================*/

/* css video header */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    right:0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

